In [31]:
import pandas as pd

#chargons un ficbhier csv

df = pd.read_csv("ventes_ecommerce.csv")
                 
#affichons les dernieres lignesa
df.head()


#2 nettoyage de donnees
#suppression de colonne par nom
df_cleaned=df.drop("total",axis=1)
print(df_cleaned.head())

         date     client       produit  quantite  prix_unitaire
0  2024-04-20  client_15        Webcam         4             83
1  2024-04-25   client_6    C창ble HDMI         3             43
2  2024-01-26   client_8        Webcam         3             26
3  2024-05-23   client_6  Casque Audio         5            251
4  2024-03-12   client_2    Disque Dur         3            186

In [38]:
#calcul de base
 #total des marchandises
df_cleaned['total']=df_cleaned['prix_unitaire'] * df_cleaned['quantite']


#remise
df_cleaned['remise'] = df_cleaned['total'] * 0.1

print(df.head())

         date     client       produit  quantite  prix_unitaire  total  remise
0  2024-04-20  client_15        Webcam         4             83    332    33.2
1  2024-04-25   client_6    C창ble HDMI         3             43    129    12.9
2  2024-01-26   client_8        Webcam         3             26     78     7.8
3  2024-05-23   client_6  Casque Audio         5            251   1255   125.5
4  2024-03-12   client_2    Disque Dur         3            186    558    55.8

In [30]:
import pandas as pd

#chargons un ficbhier csv

df = pd.read_csv("ventes_ecommerce.csv")
                 
#affichons les dernieres lignesa
df.head()

         date     client       produit  quantite  prix_unitaire  total
0  2024-04-20  client_15        Webcam         4             83    332
1  2024-04-25   client_6    C창ble HDMI         3             43    129
2  2024-01-26   client_8        Webcam         3             26     78
3  2024-05-23   client_6  Casque Audio         5            251   1255
4  2024-03-12   client_2    Disque Dur         3            186    558